<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMania"
        tools:targetApi="31">
        <activity
            android:name=".Activites.NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.WatchVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.LuckyActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.DailyRewardActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.WatchRewardActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.SpinWheelActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.RedeemActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.PaymentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.GuessNumberActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ScratchCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9520418152594026~7516228015" />
    </application>

</manifest>